.recommand-panel{
    background-color: #f5f5f5;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.topic-list-element{
    padding-left: 10px;
}

.topic-label{
    padding-left: 10px;
}