.main-container{
    margin-top: 80px; 
    display: flex;
    min-width: 570px;
}

.blog-brief-list{
    background-color: white;
    border-radius: 15px;
    height: auto;
    width: 850px;
    margin-right: 20px;
    font-family: "Roboto";
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.container-loading{
    height: 800px;
    font-family: "Roboto";
    text-align: center;
}

.container-loading-text{
    display: block;
    padding-top: 10px;
}

.index-right-panel{
    display: block;
    width: 340px;
    height: auto;
    font-family: "Roboto";
    position: fixed;
    top:80px;
    left: 1213px;
}
