.main-container{
    margin-top: 80px; 
    display: flex;
    min-width: 570px;
}

.blog-brief-list{
    background-color: #f5f5f5;
    border-radius: 15px;
    height: auto;
    width: 850px;
    margin-right: 20px;
    font-family: "Roboto";
}

.container-loading{
    height: 800px;
    font-family: "Roboto";
    text-align: center;
}

.container-loading-text{
    display: block;
    padding-top: 10px;
}

.index-right-panel{
    display: block;
    width: 340px;
    height: auto;
    font-family: "Roboto";
    position: fixed;
    top:80px;
    left: 1213px;
}
