.blog-container {
  padding-top: 3px !important;
  background: #f5f5f5 !important;
  font-family: "Roboto";
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  border-radius: 5px;
}

a{
  text-decoration-line: none;
  color: #4080bb;
}

.unmarked-code{
  display: inline !important;
  padding: 0 3px 0 3px !important;
  border-radius: 3px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.hljs-comment{
  font-style: normal !important;
}

.hljs{
  border-radius: 3px !important;
}
table,tr,td,th{
  border-color: gray;
  border: 2px solid gray;
}

blockquote{
  background: white;
  margin-left: 0;
  padding-left: 40px;
  color: gray;
}