.blog-container {
  font-family: "Roboto";
}


.unmarked-code{
  display: inline !important;
  padding: 0 3px 0 3px !important;
  border-radius: 3px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.hljs-comment{
  font-style: normal !important;
}

table,tr,td,th{
  border-color: gray;
  border: 2px solid gray;
}

blockquote{
  background: white;
  margin-left: 0;
  padding-left: 40px;
  color: gray;
}